---
- name: Copy ansible-drift
  ansible.builtin.template:
    src: ansible-drift.j2
    dest: /usr/local/bin/ansible-drift
    owner: root
    group: root
    mode: "0755"

- name: Ensure user is present
  ansible.builtin.user:
    name: "{{ drift_user }}"

- name: Make sure we have .ssh dir
  ansible.builtin.file:
    path: /home/{{ drift_user }}/.ssh
    state: directory
    owner: "{{ drift_user }}"
    group: "{{ drift_user }}"
    mode: "0700"

- name: Make sure we have ssh private key
  ansible.builtin.copy:
    content: "{{ drift_ssh_private_key }}"
    dest: /home/{{ drift_user }}/.ssh/id_rsa
    owner: "{{ drift_user }}"
    group: "{{ drift_user }}"
    mode: "0600"
  when: drift_ssh_private_key is defined

- name: Make sure we have ssh public key
  ansible.builtin.copy:
    content: "{{ drift_ssh_public_key }}\n"
    dest: /home/{{ drift_user }}/.ssh/id_rsa.pub
    owner: "{{ drift_user }}"
    group: "{{ drift_user }}"
    mode: "0644"
  when: drift_ssh_private_key is defined

- name: Remove cron job
  ansible.builtin.file:
    path: /etc/cron.d/ansible-drift
    state: absent

- name: Copy systemd service and timer configs
  ansible.builtin.template:
    dest: "/etc/systemd/system/{{ item }}"
    mode: "0644"
    src: "systemd/{{ item }}.j2"
  loop:
    - ansible-drift.service
    - ansible-drift.timer
  when: drift_playbook is defined

- name: Enable systemd timer
  ansible.builtin.systemd_service:
    daemon_reload: true
    enabled: true
    name: ansible-drift.timer
    state: started
  when:
    - drift_playbook is defined
    - not ansible_check_mode 

- name: Make sure we have .gnupg dir
  ansible.builtin.file:
    path: /home/{{ drift_user }}/.gnupg
    state: directory
    owner: "{{ drift_user }}"
    group: "{{ drift_user }}"
    mode: "0700"

- name: Cache gpg credentials for long time
  ansible.builtin.copy:
    content: |
      # cache credentials 400 days
      default-cache-ttl 34560000
      max-cache-ttl 34560000
    dest: /home/{{ drift_user }}/.gnupg/gpg-agent.conf
    owner: "{{ drift_user }}"
    group: "{{ drift_user }}"
    mode: "0644"

- name: Don't kill gpg-agent after logout
  ansible.builtin.command: loginctl enable-linger {{ drift_user }}
  args:
    creates: /var/lib/systemd/linger/{{ drift_user }}
  tags:
    - molecule-notest
