#!/bin/sh

# set shell variables
hostlist="{{ drift_hostlist }}"
receiver="{{ drift_receiver }}"
branch="{{ drift_branch }}"
message="has drifted away"
excluded_tags={{ drift_excluded_tags }}

# set environment variable
export ANSIBLE_DEPRECATION_WARNINGS=no
export ANSIBLE_COMMAND_WARNINGS=no
export ANSIBLE_DISPLAY_OK_HOSTS=no
export ANSIBLE_DISPLAY_SKIPPED_HOSTS=no

# check argument and construct vars
if [ $# -ne 1 ]; then
  echo "usage: ansible-drift playbook.yml"
  exit 1
fi

dir="$(dirname $1)"
playbook="$(basename $1)"

cd "$dir" || exit 1

# make sure we're on the latest commit
if [ -n "$branch" ]; then
  git pull --quiet --ff-only $branch
  git submodule update --init --recursive --quiet
  message="$message from $branch"
fi

# test every host individually
# if there is drift send it via mail

for h in $hostlist; do
  body="$(ansible-playbook --flush-cache $playbook --limit $h --check --diff{% if drift_excluded_tags|length > 0 %} --skip-tags $excluded_tags{% endif %})"
  if [ -n "$body" ]; then
    echo "$body" | mail -s "[ansible-drift] $h $message" $receiver
  fi
done
