#!/bin/sh

# set shell variables
hostlist="{{ drift_hostlist }}"
receiver="{{ drift_receiver }}"
branch="{{ drift_branch }}"
message="has drifted away"
excluded_tags={{ drift_excluded_tags }}
prometheus_tmp_file="/tmp/{{ drift_prometheus_file }}.tmp"

# set environment variable
export ANSIBLE_DEPRECATION_WARNINGS=no
export ANSIBLE_COMMAND_WARNINGS=no
export ANSIBLE_DISPLAY_OK_HOSTS=no
export ANSIBLE_DISPLAY_SKIPPED_HOSTS=no
export ANSIBLE_STDOUT_CALLBACK=actionable

# check argument and construct vars
if [ $# -ne 1 ]; then
  echo "usage: ansible-drift playbook.yml"
  exit 1
fi

dir="$(dirname $1)"
playbook="$(basename $1)"

cd "$dir" || exit 1

# make sure we're on the latest commit
if [ -n "$branch" ]; then
  git pull --ff-only $branch
  git submodule update --init --recursive

  if [ -f requirements.yml ]; then
    ansible-galaxy install --ignore-errors -r requirements.yml --force
  fi

  message="$message from $branch"
fi

{
  echo "# HELP ansible_drift_duration_machine_seconds Time taken for drift, by machine, in seconds. -1 if drift wasn't successful, i.e. it ran into an error."
  echo "# TYPE ansible_drift_duration_machine_seconds gauge"
  echo "# HELP ansible_drift_duration_overall_seconds Time taken for drift, overall, in seconds."
  echo "# TYPE ansible_drift_duration_overall_seconds gauge"
} > "$prometheus_tmp_file"

# test every host individually
# if there is drift send it via mail

START_TIME=$(date +%s)

for h in $hostlist; do
  start_time=$(date +%s)

  body="$(ansible-playbook --flush-cache $playbook --limit $h --check --diff{% if drift_excluded_tags|length > 0 %} --skip-tags $excluded_tags{% endif %})"
  exit_code=$?

  end_time=$(date +%s)

  drift_duration=$(echo "$end_time - $start_time" | bc)

  if [ -n "$body" ]; then
    echo "$body" | mail -s "[ansible-drift] $h $message" $receiver
  fi

  if [ $exit_code -eq 0 ]; then
    echo "ansible_drift_duration_machine_seconds{machine=\"$h\"} $drift_duration" >> "$prometheus_tmp_file"
  else
    echo "ansible_drift_duration_machine_seconds{machine=\"$h\"} -1" >> "$prometheus_tmp_file"
  fi
done

END_TIME=$(date +%s)
DRIFT_DURATION=$(echo "$END_TIME - $START_TIME" | bc)

echo "ansible_drift_duration_overall_seconds $DRIFT_DURATION" >> "$prometheus_tmp_file"
